@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');

:root {
  --veryDarkGray: hsl(0, 0%, 17%);
  --darkGray: hsl(0, 0%, 59%);
  --white: #fff;
  --textInput: 18px;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Rubik', sans-serif;
  height: 100vh;
  /* background-image: url(./images/pattern-bg.png);
  background-size: cover;
  background-repeat: no-repeat; */
}

main {
  background-image: url(./images/pattern-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 30%;
}

h1 {
  font-weight: 500;
  text-transform: capitalize;
  color: var(--white);
  text-align: center;
  margin: 0;
  padding-top: 2rem;
}

#map {
  height: 33rem;
  grid-column: 1/5;
  grid-row: 2/4;
}

.section {
  height: 70%;
}

.grid-container {
  display: grid;
}

.flex-cover {
  display: flex;
  justify-content: space-evenly;
  /* border: 2px solid var(--white); */
  background-color: teal;
  padding: 1.5rem;
  grid-column: 1/5;
  grid-row: 2/2;
  z-index: 1000;
}
